@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared style */
/* Dark02 */
.text_gray{
    color: #424242;
}
/* Dark03 */
.text_light_gray{
    color: #727272;
}

/* Dark01 */
.deep_dark{
    color: #131313;
}
.bg_light{
    background-color: rgba(255, 144, 14, 0.1);
}
.work_sans_fonts{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.display_flex{
    display: flex;
}

.btn_primary{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}
/* header related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav_links{
    gap: 10px;
}
.nav_item{
    list-style-type: none;
}
.nav_item a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner style */
.banner{
    
}
.banner .banner_content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner_content .banner_title{
    font-size: 5rem;
    font-weight: bold;
}
.banner_content .banner_description{
    line-height: 28px;
    margin-bottom: 32px;
}
.banner_img{
    width: 100%;
}

/* Responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav_links{
        flex-direction: column;
    }
}


