@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared style */
/* Dark02 */
.text_gray{
    color: #424242;
}
/* Dark03 */
.text_light_gray{
    color: #727272;
}

/* Dark01 */
.deep_dark{
    color: #131313;
}
.bg_light{
    background-color: rgba(255, 144, 14, 0.1);
}
.work_sans_fonts{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.display_flex{
    display: flex;
}

.btn_primary{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}
.section_title{
    font-size: 2.8rem;
    font-weight: bold;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* header related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav_links{
    gap: 10px;
}
.nav_item{
    list-style-type: none;
}
.nav_item a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner style */
.banner{
    
}
.banner .banner_content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner_content .banner_title{
    font-size: 5rem;
    font-weight: bold;
}
.banner_content .banner_description{
    line-height: 28px;
    margin-bottom: 32px;
}
.banner_img{
    width: 100%;
}

/* Team section style */
.teams{
    align-items: center;
    margin: 130px 0 130px;
}

.team_img_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team_img_container img{
    width: 100%;
}
.our_features{
    max-width: 537px;
    margin-left: 73px;
}

.section_title #quick_list{
    font-weight: 500;
}
.sectionf_title .spacial_title_1{
    font-weight: bold;
}
.section_title .spacial_title_2{
    color: #FF900E;
    font-weight: bold;
}
.feature_description{
    line-height: 26px;
    margin-bottom: 32px;
}

/* Facts related style */

.facts_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.fact_title{
    margin-bottom: 24px;
}
.fact_description{
    margin-bottom: 100px;
    max-width: 542px;
}

.fact_card{
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact_number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px 0 ;
}
.fact_name{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}
/* Sponspor related style */
.sponspor_content{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.spon_title{
    margin-bottom: 24px;
}
.spon_description{
    line-height: 26px;
}
.spon_brand{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 10px auto;
    filter: grayscale(100%);
}




/* Responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav_links,
    .teams
    {
        flex-direction: column;
    }
    .team_img_container,
    .facts_container,
    .spon_brand
    {
        grid-template-columns: repeat(1, 1fr);

    }
    .our_features{
        padding: 5px;
        margin-left: 20px ;
    }
    .facts_container{
        justify-items: center;
        gap: 24px;
    }
    .spon_brand{
        gap: 24px;
        justify-items: center;
    }
}

/* medium device */
@media  screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .facts_container, .spon_brand{
        grid-template-columns: repeat(2, 2fr);
        justify-items: center;
    }
    .our_features{
        padding: 5px;
        margin-left: 0 auto;
    }
    .spon_brand{
        gap: 30px;
    }
}
     


